<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Naive Bayes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/pages/dashboard.css" rel="stylesheet">
    <link rel='stylesheet' href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel='stylesheet' href="{{url_for('static', filename='bootstrap-responsive.min.css')}}">
    <link rel='stylesheet' href="{{url_for('static', filename='font-awesome.css')}}">
    <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
    <link rel='stylesheet' href="{{url_for('static', filename='pages/dashboard.css')}}">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container"><a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="index.html">Algoritmos </a>

                <!--/.nav-collapse -->
            </div>
            <!-- /container -->
        </div>
        <!-- /navbar-inner -->
    </div>
    <!-- /navbar -->
    <div class="subnavbar">
        <div class="subnavbar-inner">
            <div class="container">
                <ul class="mainnav">
                    <li><a href="/"><i class="icon-code"></i><span>Knn</span> </a></li>
                    <li><a href="ranfore"><i class="icon-code"></i><span>Random Forest</span> </a></li>
                    <li><a href="navyes"><i class="icon-code"></i><span>Naive Bayes</span> </a></li>
                    <li><a href="reglog"><i class="icon-code"></i><span>Regresión Logística</span> </a></li>
                    <li><a href="redneu"><i class="icon-code"></i><span>Red Neuronal</span> </a></li>
                    <li><a href="msv"><i class="icon-code"></i><span>Máquina de Soporte Vectorial</span> </a></li>
                    <li><a href="bench"><i class="icon-code"></i><span>Benchmarking</span> </a></li>

                </ul>
            </div>
            <!-- /container -->
        </div>
        <!-- /subnavbar-inner -->
    </div>


    <div class="widget widget-table action-table">
        <div class="widget-header"> <i class="icon-th-list"></i>
            <h3>TABLA IRIS</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th> Largo de sepalo</th>
                        <th> Ancho de sepalo</th>
                        <th> Largo de petalo</th>
                        <th> Ancho de petalo</th>
                        <th> Especies</th>

                    </tr>
                </thead>
                <tbody>
                    {% for i in range(10) %}
                    <tr>
                        <td>{{ data_I[i][0] }}</td>
                        <td>{{ data_I[i][1] }}</td>
                        <td>{{ data_I[i][2] }}</td>
                        <td>{{ data_I[i][3] }}</td>
                        <td>{{ labels_I[i] }}</td>

                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
    <div>
        <center>
            <h3>Datos para el training del data set de iris</h3>
            {{ training_I }}
            <h3>Datos para el test del data set de iris</h3>
            {{ test_I }}
        </center>
    </div>

    <div class="widget widget-table action-table">
        <div class="widget-header"> <i class="icon-th-list"></i>
            <h3>METRICAS DE RENDIMIENTO IRIS</h3>
        </div>
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr><b>
                        <th> Presición</th>
                        <th> Recall</th>
                        <th> F1</th>
                        <th> Clase</th>
                    </b>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(3) %}
                    <tr>
                        <td>{{ precision_I[i] }}</td>
                        <td>{{ recall_I[i] }}</td>
                        <td>{{ F1_I[i] }}</td>
                        <td>{{ nombres_I[i] }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div class="span6">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
                <h3> Total de datos </h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <div class="widget big-stats-container">
                    <div class="widget-content">
                        <h6 class="bigstats">Valor acurracy de iris </h6>
                        <div id="big_stats" class="cf">
                            <h3>{{ acurracy_I }}</h3>
                        </div>
                    </div>

                    <div class="widget-content">
                        <h6 class="bigstats">Valor de errores iris </h6>
                        <div id="big_stats" class="cf">
                            <h3>{{ T_errores_I }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- /////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- vino -->
    <!-- /////////////////////////////////////////////////////////////////////////////////////////// -->

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="widget widget-table action-table">
        <div class="widget-header"> <i class="icon-th-list"></i>
            <h3>TABLA VINO</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>

                        <th>Alcohol </th>
                        <th>Ácido málico </th>
                        <th>Cenizas </th>
                        <th>Alcalina de cenizas </th>
                        <th>Magnesio </th>
                        <th>Fenoles totales </th>
                        <th>Flavonoides </th>
                        <th>Fenoles no Flavonoides </th>
                        <th>Proantocianinas </th>
                        <th>Intencidad del color </th>
                        <th>Tono </th>
                        <th>OD315 </th>
                        <th>Prolina </th>
                        <th>Clase </th>

                    </tr>
                </thead>
                <tbody>
                    {% for i in range(10) %}
                    <tr>
                        <td>{{ data_W[i][0] }}</td>
                        <td>{{ data_W[i][1] }}</td>
                        <td>{{ data_W[i][2] }}</td>
                        <td>{{ data_W[i][3] }}</td>
                        <td>{{ data_W[i][4] }}</td>
                        <td>{{ data_W[i][5] }}</td>
                        <td>{{ data_W[i][6] }}</td>
                        <td>{{ data_W[i][7] }}</td>
                        <td>{{ data_W[i][8] }}</td>
                        <td>{{ data_W[i][9] }}</td>
                        <td>{{ data_W[i][10] }}</td>
                        <td>{{ data_W[i][11] }}</td>
                        <td>{{ data_W[i][12] }}</td>
                        <td>{{ labels_W[i] }}</td>

                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>

    <div>
        <center>
            <h3>Datos para el training del data set del vino</h3>
            {{ training_W }}
            <h3>Datos para el test el data set del vino</h3>
            {{ test_W }}
        </center>
    </div>

    <div class="widget widget-table action-table">
        <div class="widget-header"> <i class="icon-th-list"></i>
            <h3>METRICAS DE RENDIMIENTO VINO</h3>
        </div>
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th> Presición</th>
                        <th> Recall</th>
                        <th> F1</th>
                        <th> Clase</th>

                    </tr>
                </thead>
                <tbody>
                    {% for i in range(3) %}
                    <tr>
                        <td>{{ precision_W[i] }}</td>
                        <td>{{ recall_W[i] }}</td>
                        <td>{{ F1_W[i] }}</td>
                        <td>{{ nombres_W[i] }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="span6">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
                <h3> Total de datos </h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <div class="widget big-stats-container">
                    <div class="widget-content">
                        <h6 class="bigstats">Valor acurracy de vino </h6>
                        <div id="big_stats" class="cf">
                            <h3>{{ acurracy_W }}</h3>
                        </div>
                    </div>

                    <div class="widget-content">
                        <h6 class="bigstats">Valor de errores vino </h6>
                        <div id="big_stats" class="cf">
                            <h3>{{ T_errores_W }}</h3>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <br><br><br><b><br><br><br><br><br>
        <br><br><br><b><br><br><br><br><br>
        <div class="footer">
            <div class="footer-inner">
                <div class="container">
                    <div class="row">
                        <center>
                        <div class="span12"> &copy; 2020 - APRENDIZAJE DE MÁQUINA - Morales, Juma, Quisupangui, Ramirez, Velasco</a>.</div>
                    </center>
                        <!-- /span12 -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /footer-inner -->
        </div>

</body>

</html>